<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products Index - All Products</title>
  </head>
  <body>
    <h1><%= category %> Products</h1>
    <ul>
      <% for(let p of products){%>
      <li><a href="/products/<%=p._id%>"><%=p.name%></a></li>
      <!--(http structured) GET request-->
      <%}%>
    </ul>
    <a href="/products/new">Add Product</a>
    <!--(http structured) GET request-->
    <!--if we are on /products with ?queryString then show return link to All products-->
    <% if(category!=="All"){%>
    <a href="/products">All products</a>
    <!--(http structured) GET request-->
    <%}%>
  </body>
</html>
